.form__input {
  border-top: 1px solid $grey;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-left: 4px solid $deep-blue;
  background-color: $white;
  position: relative;

  &:hover {
    border-top: 1px solid $deep-blue;
    border-right: 1px solid $deep-blue;
    border-bottom: 1px solid $deep-blue;
  }

  &:hover path {
    fill: $deep-blue;
    opacity: 1;
  }

  &:hover .form__submit:disabled path {
    fill: $gray;
    opacity: 1;
  }
}

.form__email {
  @include font(16px, 24px, $night-black);
  width: 240px;
  height: 58px;
  padding-left: 15px;
  border: 0;
  box-sizing: border-box;
}

.form__error-field {
  height: 20px;
  position: relative;
}

.form__error-message {
  width: 100%;
  position: absolute;
  margin-top: -2.5px;
  padding-left: 20px;
  font-size: 10px;
  color: $red-tomato;
}

.form__submit path {
  opacity: 0.3;
}

.form__submit {
  height: 58px;
  width: 48px;
  background-color: $white;
  border: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

  svg {
    margin-top: -2px;
    margin-right: 3px;
  }

  &:focus path {
    fill: $deep-blue;
    opacity: 1;
  }
}

.form__email:hover,
.form__email:focus {
  box-shadow: 0 30px 40px $input-shadow-color;
  outline: none;
}

.form__submit:focus {
  box-shadow: none;
  outline: none;
}

.form__submit:hover + input,
.form__submit:focus + input {
  box-shadow: 0 30px 40px $input-shadow-color;
}

.form__submit:disabled:hover path,
.form__submit:disabled:focus path {
  fill: $gray;
}

@media (min-width: $tablet-width) {
  .form__error-message {
    font-size: 12px;
  }
}

@media (min-width: $desktop-width) {
  .form__input {
    position: relative;
    width: 658px;
    left: -40px;
  }

  .form__email {
    @include font(16px, 24px, $night-black);
    width: 550px;
    height: 69px;
    padding-right: 100px;
    padding-left: 40px;
  }

  .form__error-field {
    width: 140%;
    left: -15px;
    margin-top: 10px;
  }

  .form__error-message {
    font-size: 14px;
  }

  .form__submit {
    width: 100px;
    height: 69px;
    z-index: 10;
    box-sizing: border-box;
  }
}
