.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 66px;
}

.logo__image {
  margin-top: -1px;
  margin-left: 20px;
}

.nav__items {
  display: flex;
}

.nav__item {
  margin-right: 21px;
}

.nav__item:last-child {
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include font(16px, 26px, $greyish-brown);
    width: 768px;
    justify-content: flex-start;
  }

  .logo__image {
    margin-left: 80px;
    margin-right: 215px;
  }

  .nav__items {
    align-items: flex-start;
  }

  .nav__item {
    margin-right: 21px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include font(16px, 26px, $greyish-brown);
    align-self: flex-start;
    width: 680px;
    margin-bottom: 100px;
    position: absolute;
    top: 92px;
  }

  .logo__image {
    margin-left: 100px;
    margin-right: 113px;
  }

  .nav__items {
    padding-top: 5px;
  }

  .nav__item {
    margin-right: 30px;
  }
}
