.container {
  max-width: $mobile-width;
  margin: 0 auto;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 746px;
  background-image: url("../img/bg-image_summer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -281px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 371px;
  background: linear-gradient(180deg, $white 0%, $white-four 100%);
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0 20px;
}

.subscribe__title {
  @include font(24px, 34px, $night-black);
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
  font-family: $font-secondary;
}

.subscribe__text {
  margin-bottom: 20px;
  line-height: 26px;
}

.subscribe-input {
  // display: none;
}

.subscribe-done {
  display: none;
}

.subscribe-done .subscribe__union {
  order: -1;
  margin-bottom: 40px;
}

.subscribe-done .subscribe__title {
  margin-bottom: -5px;
}

.subscribe-done .subscribe__text {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width;
  }

  .main {
    height: 1024px;
    background-position-x: 0;
  }

  .subscribe {
    width: 500px;
    height: 420px;
  }

  .subscribe__wrapper {
    padding: 30px 80px 0 80px;
  }

  .subscribe-done .subscribe__text {
    margin-bottom: 60px;
  }

  .subscribe-done .subscribe__union {
    order: -1;
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1920px;
  }

  .main {
    width: 100%;
    height: 1080px;
    justify-content: flex-start;
    background-size: auto;
    background-position-x: 680px;
  }

  .subscribe {
    width: 680px;
    height: calc(1080px - 344px);
    margin-top: 344px;
  }

  .subscribe__wrapper {
    padding: 30px 140px 0 140px;
  }

  .subscribe__title {
    @include font(32px, 44px, $night-black);
    margin-bottom: 0;
  }

  .subscribe__text {
    @include font(16px, 28px, $greyish-brown);
    margin-bottom: 50px;
  }

  .subscribe-done {
    margin-top: -114px;
  }

  .subscribe-done .subscribe__union {
    margin-bottom: 30px;
  }

  .subscribe-done .subscribe__title {
    margin-bottom: 5px;
  }

  .subscribe-done .subscribe__text {
    margin-bottom: 49px;
  }
}
