$white: #ffffff;
$black: #000000;
$deep-blue: #4066a5;
$night-black: #131821;
$greyish-brown: #6a707b;
$gray: #b9babd;
$grey: #e3e3e4;
$white-four: #f2f5fa;
$facebook-hover: #4267b2;
$facebook-pressed: #2f4a80;
$instagram-hover: #c13584;
$instagram-pressed: #8f2762;
$twitter-hover: #1da1f2;
$twitter-pressed: #177fbf;
$red-tomato: tomato;
$youtube-hover: #ff0000;
$youtube-pressed: #cc0000;
$link-pressed: #233759;
$social-shadow-color: rgba(19, 24, 33, 0.3);
$input-shadow-color: rgba(19, 24, 33, 0.06);
$font-primary: "Arial", sans-serif;
$font-secondary: "Georgia", serif;
$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1360px;
$max-width: 1920px;
